<div class="absolutePositioned popupWrapper overlay-bg popup inlineBlockWrapper animateTransform scale0 width100" id="addEventPopup">
	<div class="inlineBlock verticalMiddle">
		<header class="bg-orange color-white textCenter">
			Add Event
			<span id="closeIcon" class="floatRight">X</span>
		</header>
		<div class="verticalMargin-10 padding-10 bg-lightgray">
			<form>
				Name<input type="text" name="name" class="width100 bottomMargin-10"/>
				Time Spent<input type="text" name="time" class="width100 bottomMargin-10" />
				<input type="submit" value="Submit" />
			</form>
		</div>
	</div>
</div>