<html style="background: #FFFFE0;">
	<head>
		<title>Accounting</title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no" />
	</head>
	<body>
		<div style="text-align: center;font: bold 24px Calibri;margin-top: 50%;">
			<p style="color: red">Oops!...</p>
			<p>Something went wrong...</p>
			<p>Refresh Screen after some time..</p>
			<p>Thanks for your patience</p>
		</div>
	</body>
</html> 

