<html>
	<head>
		<title>Accounting</title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/index.css" />
		<script src="js/jquery.js"></script>
		<script src="js/underscore.js"></script>
		<script src="js/backbone.js"></script>
	</head>
	<body>
		<% include addClient%>
		<% include addEvent%>
		<% include addProject%>
		<% include showTopClients%>
				
		<div class="page transitionTransform activePage" id="clientSummary">
			<header class="bg-orange inlineBlockWrapper boxsizingInherit color-white">
				<div class="menuIcon headerIcon inlineBlock verticalMiddle stackTop"></div>
				<h3 class="screenTitle inlineBlock verticalMiddle boxsizingInherit font28">Clients Overview</h3>
				<div id="addIcon" class="headerIcon inlineBlock verticalMiddle font32 textCenter">+</div>
			</header>
			<div class="content">
				<ul id="clientlist"></ul>
			</div>
		</div>
		
		<% include clientDetail%>
		<% include projectDetail%>
		<% include menu%>
		<% include report%>
		
		<script src="js/newIndex.js"></script>
		<script type="text/javascript">
			app.start( <%-JSON.stringify(clients)%>  );
		</script>
	</body>
</html> 