<html>
	<head>
		<title>Accounting</title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/index.css" />
		<script src="/js/library/a_jquery.js"></script>
		<script src="/js/library/a_underscore.js"></script>
		<script src="/js/library/backbone.js"></script>
	</head>
	<body>
		<% include addClient%>
		<% include addEvent%>
		<% include addProject%>
		<% include showTopClients%>
				
		<div class="page" id="clientSummary">
			<header class="bg-orange inlineBlockWrapper boxsizingInherit color-white">
				<div class="menuIcon headerIcon inlineBlock verticalMiddle stackTop"></div>
				<h3 class="screenTitle inlineBlock verticalMiddle boxsizingInherit font28">Clients Overview</h3>
				<div id="addIcon" class="headerIcon inlineBlock verticalMiddle font32 textCenter">+</div>
			</header>
			<div class="content">
				<ul id="clientlist"></ul>
			</div>
		</div>
		
		<% include clientDetail%>
		<% include projectDetail%>
		<% include report%>
		<% include menu%>
		
		<script src="/js/custom/templates.js"></script>
		<!-- <script src="/js/custom/index.js"></script>
		<script src="/js/custom/clientview.js"></script>
		<script src="/js/custom/datamodel.js"></script>
		<script src="/js/custom/eventview.js"></script>
		<script src="/js/custom/projectview.js"></script>
		<script src="/js/custom/report.js"></script>
		<script src="/js/custom/router.js"></script>
		<script src="/js/custom/util.js"></script>  -->
		<script src="/js/custom/New folder/config.js"></script>
		<script src="/js/custom/New folder/util.js"></script>
		<script src="/js/custom/New folder/module.js"></script>
		<script src="/js/custom/New folder/app.js"></script>
		<script src="/js/custom/New folder/client.js"></script>
		<script src="/js/custom/New folder/project.js"></script>
		<script src="/js/custom/New folder/event.js"></script>
		<!-- <script src="/js/min/accounting.min.js"></script> -->
		<script type="text/javascript">
			App.start( <%-JSON.stringify(data)%> );
		</script>
	</body>
</html> 