<div id="menu" class="width100 absolutePositioned transitionTransform translateX-100">
	<div id="menuwrapper" class="bg-white">
		<header class="bg-orange boxsizingInherit color-white">
			Menu
		</header>
		<div class="content">
			<ul>
				<li class="listitem">Client Report</li>
			</ul>
		</div>
	</div>
</div>