<div class="page translateX100" id="eventSummary">
	<header class="bg-orange inlineBlockWrapper boxsizingInherit color-white">
		<div class="menuIcon headerIcon inlineBlock verticalMiddle stackTop"></div>
		<h3 class="screenTitle inlineBlock verticalMiddle boxsizingInherit font28">Events Overview</h3>
		<div id="addIcon" class="headerIcon inlineBlock verticalMiddle font32 textCenter">+</div>
	</header>
	<div class="content">
		<div id="projDetail"></div>
	</div>
</div>
