<div class="page translateX100" id="report">
	<header class="bg-orange inlineBlockWrapper boxsizingInherit color-white">
		<h3 class="screenTitle rightLogo inlineBlock verticalMiddle boxsizingInherit font28">Report</h3>
		<div id="topFiveBtn" class="headerIcon textCenter inlineBlock verticalMiddle">Top 5</span>
	</header>
	<div class="content">
		<div id="reportData"></div>
	</div>
</div>
