<div class="absolutePositioned popupWrapper overlay-bg popup inlineBlockWrapper animateTransform scale0 width100" id="top5ClientsPopup">
	<div class="inlineBlock verticalMiddle width100">
		<header class="bg-orange color-white textCenter">
			Top 5 Clients
			<span id="closeIcon" class="floatRight">X</span>
		</header>
		<ul class="verticalMargin-10 padding-10 bg-lightgray" id="top5List"></ul>
	</div>
</div>